html
  head
    title Exercise 5.3
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    div.container
          h2 Excercise 5.3 - PUG
          p.alert.alert-danger= message
