<!--
============================================
; Title:  sullenger-Exercise-5.2
; Author: Jason Sullenger
; Date:   21 March 2019
; Description:
;===========================================
 -->

 <%if (names.length > 0) { %>
  <h2>List of names:</h2>
  <% for (var i = 0; i < names.length; i++){%>
    <h4 style="margin:50px"><%= names[i] %></h4>
  <%}%>

 <% } %>

