<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header %>
  </head>
  <body>
    <div>
      <% include navbar %>

      <div class="container">
        <div class="heading p-3">
          <!-- Welcome intro -->
          <h1>Company of Companies</h1>
          <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            aliquam, velit nobis provident, consectetur quia eveniet pariatur
            repellendus quae cum facilis iure magnam, excepturi at?
          </h5>
        </div>
      </div>

      <div class="container">
        <div class="mainBody p-5">
          <!-- Main body text -->
          <h3>This is where something important would be</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui
            distinctio eos veniam officiis repellat quia beatae iste iusto,
            expedita omnis cumque consequatur, doloremque totam soluta ipsum
            labore recusandae officia sit corrupti rerum, accusamus nulla
            ratione. Rem natus repellendus nostrum quis delectus esse
            repudiandae eos nisi nemo ad? Omnis voluptatibus repudiandae dolore
            deleniti exercitationem, debitis sed nam modi eveniet rem optio
            iusto, atque dignissimos quos unde placeat excepturi illum, facere
            illo. Molestias, rem? Molestiae quas aliquam nihil impedit minima
            suscipit hic asperiores molestias sint, quibusdam id, reiciendis
            alias distinctio in dolorem, magnam voluptates? Cum doloremque
            labore suscipit alias, hic nesciunt minus!
          </p>
        </div>
      </div>

      <% include footer %>
    </div>
    <% include scripts %>
  </body>
</html>
