<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header %>
  </head>
  <body>
    <div>
      <% include navbar %>
      <% include footer %>
    </div>
    <% include scripts %>
  </body>
</html>
