<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header %>
  </head>
  <body>
    <% include navbar %>

    <!-- Skipping for now -->
    <div class="container">
      <a href="/list">Return to Employees</a>
    </div>

    <% include scripts %>
  </body>
</html>
