<!--
============================================
; Title:  sullenger-Putting-It-All-Together.js
; Author: Jason Sullenger
; Date:   08 March 2019
; Description:Tests routing to Home, Contact, about, and products page
;===========================================
 -->

<% include header %>

<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>

<% include footer %>